.breadcrumb {
	border-radius: 0px;
}

.thumbs {
	margin: auto;
}

.thumb {
	float: left;
	width: 128px;
	margin: 0px;
	padding: 4px;
}

.thumb i {
	display: block;
	font-size: 120px;
	width: 120px;
	height: 120px;
	text-align: center;
}

.thumb svg {
	display: block;
	font-size: 120px;
	width: 120px;
	height: 120px;
	padding: 12px;
	text-align: center;
}

.thumb img {
	display: block;
	width: 120px;
	height: 120px;
}

.thumb > div {
	text-align: center;
	width: 120px;
	height: 3em;
	overflow: hidden;
}

